body {
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  margin: 40px;
}

.emoji {
  border: 1px solid #222;
  border-radius: 8px;
  padding: 1rem;
}

.emoji h2 {
  margin: 0;
  border-bottom: 2px solid #ccc;
}

.emoji a {
  text-decoration: none;
  background-color: #781baa;
  color: white;
  padding: 1rem;
  border-radius: 8px;
}

.emoji span {
  display: flex;
  justify-content: center;
}

.icon {
  font-size: 4rem;
}

.emojis {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 20px;
}
